/*  Mostly index.html */

  .copyright {
    color: red;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }


  .title {
    text-align: center;
    font-family: 'Lucida', sans-serif;
  }

  .index-links {
    font-size: 20px;
    text-align: center;
  }


  .image {
    text-align: center;
  }

  /* Recipes styling */





  .titles {
    background-color: black;
    color:white
  }
